Repository clambin/covid19mon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, prometheus, build_amd64, build_arm

.gitlab-ci.yml:

stages:
  - test
  - build
  - release

.test_only:
  only:
    changes:
      - "*.py"
      - .gitlab-ci.yml
  except:
    - tags

.build_only:
  only:
    changes:
      - "*.py"
      - "Dockerfile*"
      - .gitlab-ci.yml
  except:
    - tags

.docker:
  image: docker:stable
  services:
    - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
    - docker
    - shared
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - export CI_PROJECT_PATH=$(echo $CI_PROJECT_PATH | tr "[:upper:]" "[:lower:]")

.docker_arm:
  extends: .docker
  tags:
    - docker
    - arm
    - rpi

flake8:
  stage: test
  extends: .test_only
  image: python:3.7
  before_script:
    - pip install pipenv
    - pipenv install --dev
  script:
    - pipenv run flake8 --max-line-length 120 *.py

prometheus:
  stage: test
  extends: .test_only
  image: python:3.7
  before_script:
    - pip install pipenv
    - pipenv install
  script:
    - pipenv run python covid19mon.py --port 8080 --stub --debug --interval 1 &
    - TESTPID=$!
    - sleep 5
    - curl -s localhost:8080/metric | grep '^request_processing_seconds_count{endpoint="v1/stats",server="https://covid-19-coronavirus-statistics.p.rapidapi.com/"}'
    - kill $TESTPID

build_amd64:
  stage: build
  extends:
    - .docker
    - .build_only
  script:
    - docker run --rm --privileged multiarch/qemu-user-static:register --reset
    - docker build --pull -t "$CI_PROJECT_PATH":amd64 .
    - docker push "$CI_PROJECT_PATH":amd64

build_arm:
  stage: build
  extends:
    - .docker
    - .build_only
  script:
    - docker pull "$CI_PROJECT_PATH":arm || true
    - docker run --rm --privileged multiarch/qemu-user-static:register --reset
    - docker build -cache-from "$CI_PROJECT_PATH":arm --pull -t "$CI_PROJECT_PATH":arm --file Dockerfile.qemu .
    - docker push "$CI_PROJECT_PATH":arm

publish:
  stage: release
  extends: .docker
  only:
    refs:
      - master
  script:
    - docker manifest create "$CI_PROJECT_PATH":latest
      "$CI_PROJECT_PATH":amd64
      "$CI_PROJECT_PATH":arm
    - docker manifest push "$CI_PROJECT_PATH":latest

gitlab ci cache test
  .gitlab-ci.yml
Due: flake8, prometheus, build_amd64, build_arm

grafana dashboards
  grafana/corona-country.json
  grafana/corona-world.json
Due: none

easy up on the server
  covid19mon.py
Due: flake8, prometheus, build_amd64, build_arm

Python 3.8
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.qemu
  Pipfile
  Pipfile.lock
  covid19mon.py
Due: flake8, prometheus, build_amd64, build_arm

Python 3.8
  .gitlab-ci.yml
Due: flake8, prometheus, build_amd64, build_arm

QA after build
  .gitlab-ci.yml
Due: flake8, prometheus, build_amd64, build_arm

app-specific labels for prometheus
  covid19mon.py
Due: flake8, prometheus, build_amd64, build_arm

use gitlab templates + QA before docker build
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: flake8, prometheus, build_amd64, build_arm

use gitlab templates + QA before docker build
  .gitlab-ci.yml
Due: flake8, prometheus, build_amd64, build_arm

use gitlab templates + QA before docker build
  Dockerfile.arm
Due: build_amd64, build_arm

use gitlab templates + QA before docker build
  Dockerfile
Due: build_amd64, build_arm

use gitlab templates + QA before docker build
  .gitlab-ci.yml
  Dockerfile.arm
Due: flake8, prometheus, build_amd64, build_arm

fix crash when getting Bad Gateway
  covid19mon.py
Due: flake8, prometheus, build_amd64, build_arm

fix crash when getting Bad Gateway
  .gitlab-ci.yml
Due: flake8, prometheus, build_amd64, build_arm

Increase polling frequency (slightly)
  covid19mon.py
Due: flake8, prometheus, build_amd64, build_arm

V0.7
  .gitlab-ci.yml
Due: flake8, prometheus, build_amd64, build_arm

arm64 build
  .gitlab-ci.yml
  Dockerfile.arm64
Due: flake8, prometheus, build_amd64, build_arm

arm64 build
  .gitlab-ci.yml
Due: flake8, prometheus, build_amd64, build_arm

store data in postgres db
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  Dockerfile.arm64
  Pipfile
  Pipfile.lock
  covid19.py
  src/__init__.py
  src/configuration.py
  src/covid19.py
  src/pgconnector.py
  src/version.py
Due: flake8, prometheus, build_amd64, build_arm

store data in postgres db
  src/pgconnector.py
Due: none

store data in postgres db
  src/configuration.py
  src/covid19.py
  src/pgconnector.py
Due: none

store data in postgres db
  Dockerfile
  Dockerfile.arm
  Dockerfile.arm64
Due: build_amd64, build_arm
